body{
  background-color: #ffffff;
  color: #330000;
  font-family: 'Garamond', helvitica, sans-serif;
}
.main-section{
  h3{
    color: #330099;
  }
}
header{
  font-size: 20px;
  font-weight: 600;
}
#main-doc{
  position: absolute;
  margin-left:310px;
  padding:20px;
  margin-bottom:110px;
}
code{
  color: blue;
  display: block;
  background-color: gray;
  line-height: 2;
  padding:15px;
  margin:10px;
    border-radius:5px;
}
#navbar{
  position: fixed;
  top:0px;
  left:0px;
  width:300px;
  height:100%;
  border-right:solid;
  border-color: black;
  }
#navbar ul{
  height:88%;
  overflow-y:auto;
  overflow-x:hidden;
  }
#navbar li{
  color: black;
  border:1px solid;
  border-bottom-width:0px;
  padding:8px;
  padding-left:45px;
  list-style: none;
  position:relative;
 left:-50px;
  width:100%;
 }
#navbar a{
  color: #4d4e53;
    text-decoration:none;
    cursor:pointer;
}
@media only screen and (max-width: 815px) {
   #navbar ul{
  border:1px solid;
    height:200px;
  }
    #navbar{
      background-color:white;
      position:absolute;
      top:0;
      padding:0;
      margin: 0;
      width:100%;
      max-height:275px;
      border:none;
      z-index:1;
      border-bottom:2px solid;
    }
  #main-doc{
    position: relative;
    margin-left:0px;
    margin-top:270px;
  }
  #main-doc section {
  }
}
@media only screen and (max-width: 400px) {
  #main-doc{
    margin-left:-10px;
  }
  code{
    margin-left:-20px;
    width:100%;
    padding:10px;
    padding-left:10px;
    padding-right:40px;
    min-width:230px;
  }
}